# Project exclude paths
*.iml
.DS_Store
.externalNativeBuild
/local.properties
*/build
/captures
/.gradle/
/.idea/
/iosApp/Pods
/iosApp/iosApp.xcworkspace/xcuserdata
/iosApp/Podfile.lock
/iosApp/.idea
/builds
/iosApp/iosApp.xcodeproj/xcuserdata
/iosApp/iosApp.xcodeproj/project.xcworkspace/xcuserdata
